div.top-group {
  margin: 0 auto;
  width: 700px;

  display: flex;
  align-items: center;

  margin-bottom: 100px;
  /* border: 1px solid #d3d3d3; */
}
@media (max-width: 680px) {
  div.top-group {
    flex-direction: column;
    margin-bottom: 40px;
  }

  div div#logo {
    border: none;
    border-bottom: 2px solid var(--primary);
    border-right: 0 !important;
    padding-bottom: 10px;
    margin-bottom: 30px;
  }

  main div#tabs {
    padding: 15px;
  }
}

div div#logo {
  border-right: 2px solid var(--primary);
  padding-right: 10px;
  margin-right: 30px;
}

div div#logo img {
  width: 200px;
  height: 200px;
}

div div.about-information {
  width: 500px;
}

/* --------------------------- */
