@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300);

:root {
  --black: #130f0d;
  --primary: #fd951f;
  --support: #6a737d;
  --white: #f0f0f9;
  --link: #5d80d6;
  --url: maroon;
  --force: #ebf3ff;
  --new: #2ea44f;
  --discord: #6e86d6;
  --reports: #4764f1;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

#page {
  overflow-x: hidden;
}

*,
button,
input {
  font-family: "Roboto", sans-serif;
}

body {
  height: 100vh;

  background-color: var(--black);
  color: var(--white);
}

header {
  margin-top: 32px;

  text-align: center;
  height: 100px;
  color: var(--primary);
}

main {
  margin: 0 auto;
  max-width: 700px;
  width: 800px;
  min-width: 320px;
  margin-bottom: 32px;
}

.tab-links {
  text-align: center;
  margin-bottom: 32px;
}

button {
  color: var(--white);

  border: none;
  background: transparent;

  text-transform: uppercase;
  font-size: 12px;

  padding: 16px;

  outline: none;

  position: relative;
}

button::after {
  position: absolute;
  bottom: 0;
  left: 0;

  content: "";
  height: 2px;
  width: 0%;

  background-color: var(--primary);

  transition: 0.4s;
}

button:hover::after,
button.active::after {
  width: 100%;
}

.tab-content > section {
  animation: up 1s;
}

@keyframes up {
  from {
    opacity: 0;
    transform: translateY(15px);
  }

  to {
    opacity: 1;
  }
}
